@import "./reset.scss";

.container {
  max-width: 700px;
  margin: 0 auto;
}
.container_post {
  flex-basis: 80%;
}
.container_sideBar {
  flex-basis: 20%;
}

.main_content {
  display: flex;
}
.test {
}
