.banner {
  background: #5cb85c;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 55px;
}

.text {
  font-size: 30px;
  font-weight: 300;
}
